.homeRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.homePhone {
  width: 380px;
  height: 600px;
  background: white;
  border-radius: 10px;
  overflow-y: auto;
  box-shadow: 0 20px 45px rgba(0,0,0,.25);
}

/* header */
.header {
  background: #2051E5;
  color: white;
  padding: 18px;
  border-radius: 0 0 18px 18px;
}

.logo {
  font-weight: 700;
}

.crm {
  color: #EFFF4D;
}

.greeting {
  margin-top: 12px;
}

/* section */
.section {
  margin: 14px;
  font-weight: 600;
}

/* card */
.card {
  margin: 0 14px;
}

.box {
  background: #1046F0;
  color: white;
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 8px;
}

.clickable {
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicator {
  width: 18px;
  height: 28px;
  border-radius: 10px;
}

.green {
  background: #22c55e;
}

.red {
  background: #ef4444;
}

.logRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 4px;
}

/* activity section */
.activityBox {
  margin: 14px;
  background: #F3F3F3;
  border-radius: 14px;
  padding: 14px;
  height: 130px;
}

.scroll {
  overflow-y: auto;
}

.activityItem {
  margin: 6px 0;
}

.navbar {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #e5e7eb;
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  border-radius: 0 0 20px 20px;
}
.navIcon .navActive
{
  color: #2051E5;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 11px;
  color: #6b7280;
  cursor: pointer;
}

.navActive {
  color: #2051E5;
}

.navIcon {
  font-size: 18px;
}

.navbar .iconText
{
  text-decoration: none;
}
