.page {
  display: flex;
  background: #fafafa;
}

.pageContent {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 10px 26px;
}

/* TOP BAR */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

/* BREADCRUMB */
.breadcrumb {
  font-size: 18px;
  color: #6b7280;
  margin-left: 10px;
}

.breadcrumb span {
  margin: 0 6px;
}


/* Cards */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  background: #fff;
  border: 1px solid #B1B1B1;
  border-radius: 20px;
  padding: 14px 18px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 125px;
}

.card b {
  font-size: 20px;
}

/* Middle section */
.middleGrid {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  margin-bottom: 20px;
}

.chartBox {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 14px;
  padding: 18px 20px;
}

.chartContainer {
  margin-top: 8px;
}

.recharts-rectangle {
  fill: #d9d9d9;
}

.recharts-tooltip-wrapper {
  outline: none;
}

.recharts-cartesian-grid-horizontal line {
  stroke: #dcdcdc;
  opacity: 0.5;
}


.chartBox,
.activityBox {
  background: #fff;
  border: 1px solid #B1B1B1;
  border-radius: 20px;
  padding: 18px;
  height: 300px;
}

.chartBox h4,
.activityBox h4 {
  margin-bottom: 14px;
  font-size: 15px;
}


.activityBox {
  margin-left: 20px;}
/* Activity feed */
.activityBox ul {
  margin-top: 10px;
  padding-left: 16px;
}

.activityBox li {
  margin-bottom: 8px;
  font-size: 14px;
}

/* table styes */
/* HEADER GRID */
.tableHeader {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
  font-size: 13px;
  color: #6b7280;
  padding: 6px 6px;
  border-bottom: 2px solid #e5e7eb;
}

/* .headerCheckbox
{
  margin-left: 26px;
} */

.headerItem
{
  color: #42526D;
  padding-left: 20px;
}

/* ROW */
.row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
  align-items: center;
  padding: 14px 22px;
  border-bottom: 2px solid #EAECF0;
}

.row:last-child {

  border-bottom: none;
}

.row:hover {
  background: #F4F4F4;
}

/* NAME CELL */
.nameCell {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #fde7d9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: #a0522d;
}

.ename
{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
}
.name {
  font-weight: bold;
}

.email {
  color: #6B788E;
}


.badge {
  background: #F5F6F7;
  color: #091E42;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 14px;
  width: fit-content;
}