.header {
  padding: 25px 25px;
  margin: 0 0 0 0;
  border-bottom: 1px solid #ECECEC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Search box container */
.searchBox {
  position: relative;
  width: 320px;
}

/* Icon */
.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
}

/* Input */
.searchInput {
  width: 100%;
  padding: 10px 12px 10px 38px; /* left space for icon */
  border-radius: 12px;
  border: none;
  outline: none;
  background: #ECECEC;
  font-size: 14px;
}

.searchInput::placeholder {
  color: #9a9a9a;
}
